# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
    admin.invoice:
        class: AppBundle\Admin\InvoiceAdmin
        arguments: [~, AppBundle\Entity\InvoiceHeader, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Invoice }
        public: true

    admin.invoice_detail:
        class: AppBundle\Admin\InvoiceDetailAdmin
        arguments: [~, AppBundle\Entity\InvoiceDetail, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: InvoiceDetail, show_in_dashboard: false }
        public: true
        
    #admin.invoice_row:
    #    class: AppBundle\Admin\InvoiceDetailAdmin
    #    tags:
    #        - { name: sonata.admin, manager_type: orm, label: InvoiceDetail }
    #    arguments:
    #        - ~
    #        - AppBundle\Entity\InvoiceDetail
    #        - 'SonataAdminBundle:CRUD'
    #    calls:
    #        - [ setTranslationDomain, [AppBundle]]
    #    public: true